
/*=============================================
=     Components - Individual small pieces
=============================================*/

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
}

.Title,
.Hero-title {
    font-family: 'Playfair Display', serif;
}

/*=====  End of Components  ======*/

