@font-face {
    font-family: "Fontin Sans Caps";
    src: url("../fonts/subset-FontinSans-SmallCaps.eot");
    src: url("../fonts/subset-FontinSans-SmallCaps.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/subset-FontinSans-SmallCaps.woff") format("woff"),
        url("../fonts/subset-FontinSans-SmallCaps.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
